# macOS specific
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Data
datasets/data
!datasets/data/.gitkeep

# Model checkpoints
*.pth
